{% extends "breakfast/base.html" %}

{% block title %}朝ごはんアプリ🍚{% endblock %}

{% block content %}
    <h2>🍚朝ごはん詳細🍚</h2>
    <ul>
        <li>日　　付：{{ breakfast.date }}</li>
        <li>睡眠時間：{{ breakfast.hours_of_sleep }}</li>
        <li>朝ごはん：{{ breakfast.breakfast }}</li>
        <li>睡眠の質：{{ breakfast.sleep_quality }}</li>
        <li>気　　分：{{ feelings.feeling }}</li>
        <li>お や つ：{{ breakfast.sweet }}</li>
        <li>メ　　モ：{{ breakfast.memo }}</li>
    </ul>

    <div class="button-container">
        <span class="button-span">
            <a class="button" href="{% url 'breakfast:update' pk=breakfast.pk %}">編集</a>
        </span>
        <span></span>
        <span class="button-span">
            <a class="button" href="{% url 'breakfast:delete' pk=breakfast.pk %}">削除</a>
        </span>
    </div>

{% endblock %}
