{% extends "breakfast/base.html" %}

{% block title %}朝ごはんアプリ🍚{% endblock %}

{% block content %}
    <h2>🍚朝ごはん詳細🍚</h2>
    <ul>
        <li>日　　付：{{ breakfast.date }}</li>
        <li>睡眠時間：{{ breakfast.get_hours_of_sleep }}</li>
        <li>朝ごはん：{{ breakfast.breakfast }}</li>
        <li>睡眠の質：{{ breakfast.get_sleep_quality }}</li>
        <li>気　　分：{{ breakfast.get_feeling_stars }}</li>
        <li>お や つ：{{ breakfast.sweet }}</li>
        <li>メ　　モ：{{ breakfast.memo }}</li>
        <li>カテゴリ：{{ breakfast.category }}</li>
        <li>タ　　グ：
            {% for tag in breakfast.tags.all %}
                <span><a href="{% url 'breakfast:tag' tag.slug %}">{{ tag.name }}</a>&nbsp;</span>
            {% endfor %}
        </li>
    </ul>
    <img width="200px" height="200px" src="{{ breakfast.image.url }}" alt="{{ breakfast.title }}">


    <div class="button-container">
        <span class="button-span">
            <a class="button" href="{% url 'breakfast:update' pk=breakfast.pk %}">編集</a>
        </span>
        <span></span>
        <span class="button-span">
            <a class="button" href="{% url 'breakfast:delete' pk=breakfast.pk %}">削除</a>
        </span>
    </div>

{% endblock %}
