{% extends "breakfast/base.html" %}
{% load static %}
{% block title %}朝ごはんアプリ🍚{% endblock %}

{% block content %}
    <h2>🍚朝ごはん一覧🍚</h2>

    <form method="get">
        <input type="text" name="search" placeholder="朝ごはん検索...">
        <button type="submit">検索</button>
    </form>

    {% for item in breakfast_list %}
        <ul>
            {#            <li><a href = "{% url 'breakfast:detail' item.pk %}">{{ item.date }}</a></li>#}
            <li><a href="{{ item.get_absolute_url }}">🍚</a> {{ item.date }} {{ item.breakfast }}</li>

        </ul>
    {% endfor %}

    <p>
        タグ検索:&nbsp;
        {% for tag in tag_queryset %}
            {% if tag.slug == tag %}
                <span>{{ tag }}</span>
            {% else %}
                <span><a href="{% url 'breakfast:tag' tag.slug %}">{{ tag }}</a></span>
            {% endif %}
        {% endfor %}
    </p>

    <p><a href="{% url 'breakfast:list' %}">タグ解除</a></p>

    <!-- 前へ の部分 -->
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}

    <!-- 数字の部分 -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span>{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- 次へ の部分 -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    {% endif %}


    <img src="{% static "/breakfast/images/list.png" %}" alt="Dinosaur">
    <p>
        <span>
            <a class="button" href="{% url 'breakfast:create' %}">登録</a><br>
        </span>
    </p>

{% endblock %}